<template>
    <transition name="expand">
        <form v-if="isExpanded" @submit.prevent class="commentBox" id="commentForm">
            <fieldset class="material" id="field">
                <legend class="material">Teile dein Feedback</legend>
                <label for="name">Dein Name (optional)</label><br />
                <input type="text" placeholder="Gib hier deinen Namen ein ..." name="name" id="name" />
                <br />
                <label for="comment">Dein Kommentar</label><br />
                <input type="text" placeholder="Gib hier dein Feedback ein ..." name="comment" id="comment" />
                <br />
                <button @click="submit" class="fieldButton">Abschicken</button>
                <button @click="openAllComments" class="fieldButton">Alle Anzeigen</button>
                <button v-on:click="isExpanded = false" id="close" class="material">X</button>
            </fieldset>
        </form>
        <button v-else v-on:click="isExpanded = true" class="commentBox material" id="openButton">
            Feedback
        </button>
    </transition>
</template>

<script>
export default {
    name: "CommentBox",
    props: {
        isExpanded: Boolean,
    },
    methods: {
        async openAllComments() {
            const fullUrl = window.location.href + "/../json/comments.json";
            let file = await this.fetchJSON(fullUrl);
            await this.setTitle("WE - Kommentare", "Alle Kommentare");
            await this.setContent(file);
            this.isExpanded = false;
        },
        async fetchJSON(urlToFetch) {
            const request = await fetch(urlToFetch);
            return await request.json();
        },
        async setTitle(title, header) {
            document.title = title;
            document.getElementById("header").innerText = header;
        },
        async setContent(json) {
            const main = document.getElementsByTagName("main")[0];
            main.innerHTML = "";
            for (let i = 0; i < json.length; i++) {
                const bubble = document.createElement("div");
                bubble.className = "bubble material";

                const name = await this.createDiv("name", json[i].name);
                const comment = await this.createDiv("comment", json[i].comment);

                bubble.appendChild(comment);
                bubble.appendChild(name);

                main.appendChild(bubble);
            }
        },
        async createDiv(name, value) {
            const div = document.createElement("p");
            div.className = name;
            div.innerText = value;
            return div;
        },
        async submit() {
            let http = new XMLHttpRequest();
            http.open("POST", "php/addComment.php", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.send("name=" + document.getElementById("name").value + "&comment=" + document.getElementById("comment").value);
            this.isExpanded = false;
        },
    },
};
</script>

<style scoped>
@import "./../style/material.css";

.commentBox {
    display: absolute;
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    margin: 0;
}

#field {
    border-radius: 10px;
    padding: 20px;
}

#field legend {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    font-size: 14pt;

    position: absolute;
    display: block;
    top: -25%;
    z-index: -1;
}

#field input {
    width: 20vw;
    background-color: white;
    margin: 10px;

    border: 1pt solid gray;
    border-radius: 5px;
}

#field label {
    font-size: 10pt;
    margin-left: 10px;
}

#openButton {
    border-radius: 50%;

    width: 10vh;
    height: 10vh;

    font-size: 1rem;
    text-align: center;
}

#openButton:hover {
    background-color: rgb(93, 238, 93);
}

.fieldButton {
    width: 10vw;
    background-color: white;
    margin: 10px;

    border: 1pt solid gray;
    border-radius: 5px;
}

#close {
    position: absolute;
    width: 3vh;
    height: 3vh;
    top: 20px;
    right: 20px;

    background-color: lightcoral;
    border-radius: 1.5vh;
}

@media screen and (max-width: 600px) {
    #openButton {
        font-size: 10pt;

        width: 15vh;
        height: 15vh;
    }

    .fieldButton {
        width: 35vw;
    }

    #field input {
        width: 70vw;
    }
}
</style>
