<template>
    <div id="menu" class="material">
        <DropDownItem v-for="(links, name) in menuLinks" :key="name" :buttonName="name" :options="links" />
    </div>
</template>

<script>
import DropDownItem from "./DropDown/DropDownItem.vue";
import Json from "./../data/menu.json";

export default {
    name: "Menu",
    components: {
        DropDownItem,
    },
    data() {
        return {
            menuLinks: Json,
        };
    },
};
</script>

<style>
@import "./../style/material.css";

#menu {
    background-color: lightgreen;

    grid-area: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90vh;
}

@media screen and (max-width: 600px) {
    #menu {
        position: fixed;
        height: 100vh;
        width: 70vw;
        left: 0;

        z-index: 15;
    }
}
</style>
