<template>
    <div id="app">
        <h3>Component</h3>
        <input v-model="message" placeholder="Type something in" v-on="listen" />
        <br />
        <p>Number of letters: {{ num_letters }}</p>
        <p>Number of spaces: {{ num_spaces }}</p>
        <p>Number of wprds: {{ num_words }}</p>
    </div>
</template>

<script>
export default {
    name: "App",
    data: function() {
        return {
            message: "",
            num_letters: 0,
            num_spaces: 0,
            num_words: 0,
            is_word: false,
        };
    },
    method: {
        listen: async function() {
            // resetting variables
            this.num_letters = 0;
            this.num_spaces = 0;
            this.num_words = 0;
            this.is_word = false;

            // counting occurences
            for (let i = 0; i < this.message.length; ++i) {
                if (this.message[i] == " ") {
                    ++this.num_spaces;
                    this.new_word = true;
                } else {
                    ++this.num_letters;
                    if (this.new_word) {
                        ++this.num_words;
                    }
                    this.new_word = false;
                }
            }
        },
    },
};
</script>
