<template>
    <div id="app">
        <header class="head">
            <Home url="home.json" id="homeButton" ref="home">
                <img src="./assets/home.svg" alt="Home" id="home" />
            </Home>
            <h1 id="header"></h1>
            <div>
                <transition>
                    <img src="./assets/menu.svg" alt="Menu" id="settings" v-if="isMobile" @click="toggle" />
                </transition>
            </div>
        </header>

        <transition>
            <Menu v-if="menuIsVisible" />
        </transition>

        <main></main>

        <CommentBox />
    </div>
</template>

<script>
import Menu from "./components/Menu.vue";
import Home from "./components/DropDown/DropDownOption.vue";
import CommentBox from "./components/CommentBox.vue";

export default {
    name: "App",
    components: {
        Menu,
        Home,
        CommentBox,
    },
    data() {
        return {
            menuIsVisible: true,
            isMobile: false
        };
    },
    methods: {
        toggle() {
            this.menuIsVisible = !this.menuIsVisible;
        }
    },
    mounted: function() {
        this.$nextTick(function() {
            this.$refs.home.loadContent();
            if (window.innerWidth < 600) {
                this.menuIsVisible = false;
                this.isMobile = true;
            }
        });
    },
};
</script>

<style scoped>
@import "./style/style.css";

#app {
    display: grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
        "top top"
        "left middle";

    min-height: 100vh;
    width: 100vw;

    left: 0;
    top: 0;
}

#homeButton {
    width: 8vh;
    height: 8vh;
}

@media screen and (max-width: 600px) {
    #app {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 10vh 90vh;
        grid-template-areas:
            "top"
            "middle";
    }

    #homeButton img {
        width: 32px;
        height: 32px;
        margin: 16px;
    }

    #settings {
        width: 32px;
        height: 32px;
        margin: 16px;
    }
}
</style>
