<!DOCTYPE html>
<html lang="DE">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
        <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
