<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      	* {
          box-sizing: border-box;
        }

      #top {
        top: 0;
        left: 0;

        width: 100vw;
        height: 10vh;

        flex-direction: row;
      }

      #left {
        top: 10vh;
        left: 0;

        width: 20vw;
        height: 80vh;

        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="app" id="top">
      <a href="google.de">google.de</a>
      <a href="google.de">google.de</a>
      <a href="google.de">google.de</a>
    </div>
    <div class="app" id="left">
      <a href="h-brs.de">h-brs.de</a>
      <a href="h-brs.de">h-brs.de</a>
      <a href="h-brs.de">h-brs.de</a>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
