@import "material.css";

.bubble {
    background-color: lightgreen;
    width: fit-content;
    /**min-width: 100px;**/

    border-radius: 20px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.name {
    font-size: 8pt;
}

.comment {
    font-size: 12pt;
}