.menuButton {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
    border-bottom: 1pt solid black;

    width: 100%;
    min-height: 5vh;
}