* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;

    overflow-x: hidden;
    overflow-y: hidden;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}

.head {
    background-color: lightgray;

    grid-area: top;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 2vw;
    padding-right: 2vw;
}

.head button {
    border: none;
    margin: 0;
    padding: 0;

    background-color: transparent;
}

main {
grid-area: middle;

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}

main hr {
    border-top: 1px solid black;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .head {
        height: fit-content;
    }

    .head h1 {
        font-size: 14pt;
    }

    main {
        font-size: 12pt;
    }
}    

@import "comments.css";