<template>
  <div class="app">
    <a href="./../public/index.html">Home</a>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  display: flex;
  background-color: lightblue;
  margin: 10px;
}

a {
  border: 1px solid black;
  border-radius: 10%;
  padding: 1em;
  margin: 2em;
}
</style>
