<template>
    <button id="link" class="menuButton" @click="loadContent">
        <slot/>
    </button>
</template>

<script>
export default {
    name: "DropDownOption",
    props: {
        url: URL
    },
    methods: {
        async loadContent() {
            const fullUrl = window.location.href + "/../json/" + this.url;
            let file = await this.fetchJSON(fullUrl);
            await this.setTitle(file.title, file.header);
            await this.setContent(file.content);
        },
        async fetchJSON(urlToFetch) {
            const request = await fetch(urlToFetch);
            return await request.json();   
        },
        async setTitle(title, header) {
            document.title = title;
            document.getElementById("header").innerText = header;
        },
        async setContent(content) {
            document.getElementsByTagName("main")[0].innerHTML = content;
        }
    }
};
</script>

<style>
@import "./../../style/menuButton.css";

#link {
    font-size: 1em;
}
</style>