<template>
    <div>
        <button @click="toggleVisibility" id="dropButton" class="menuButton">{{buttonName}}</button>
        <transition name="toggle">
            <div v-if="expanded" id="linkSpace">
                <DropDownOption v-for="(link, name) in options" :key="name" :url="link">
                    {{name}}
                </DropDownOption>
            </div>
        </transition>
    </div>
</template>

<script>
import DropDownOption from "./DropDownOption.vue";

export default {
    name: "DropDownItem",
    props: {
        buttonName: String,
        options:  JSON
    },
    components: {
        DropDownOption
    },
    data() {
        return {
            expanded: false
        }
    },
    methods: {
        toggleVisibility() {
            this.expanded = !this.expanded;
        }
    }
};
</script>

<style>
@import "./../../style/menuButton.css";

#dropButton {
    background-color: transparent;
    font-size: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#linkSpace {
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
</style>
